.limitations-container {
  width: 1160px;
  height: 704px;
  margin: auto;
  margin-top: 100px;
}

.limitations-container .section-1 {
  display: flex;
}

.limitations-container .section-1 h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.05em;
  margin-bottom: 35px;
  color: #253347;
}

.limitations-container .section-1 p {
  font-size: 16px;
  line-height: 150%;
  color: #5e6e85;
}

.card {
  padding: 32px;
  width: 365px;
  filter: drop-shadow(16px 32px 56px rgba(143, 174, 207, 0.25));
  background: white;
  border-radius: 16px;
}

.section-1 div:first-child {
  width: 564px;
}
