.result-container {
  width: 1160px;
  height: 533px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 131px;
}

.result-container .curved-line {
  position: absolute;
  right: 20px;
  top: 0;
}
.image-container {
  margin-top: 40px;
}

.image-container img {
  width: 564px;
  height: 533px;
}

.result-container p {
  width: 485px;
}

.result-container .text-container {
  margin-top: 200px;
  height: 533px;
  width: 465px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 20px;
  justify-content: flex-end;
}

.result-container .text-container h1 {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.05em;
  line-height: 110%;
  color: #253347;
}
.result-container .text-container p {
  font-size: 16px;
  line-height: 150%;
  color: #5e6e85;
}
